{% extends 'base.html' %}
{% load static %}

{% block content %}

    
    <div class="main-wrapper">
	    <section class="cta-section theme-bg-light py-5">
		    <div class="container">
			    <h2 class="heading">Login</h2>
			    <form method="POST" class="signup-form justify-content-center pt-3">
                    {% csrf_token %}
                    <div class="form-group">
                        {{form.as_p}}
                    </div>
                    <br/>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
		    </div>
            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
	    </section> 
    </div>

	    
{% endblock %}