{% extends 'base.html' %}
{% load static %}

{% block content %}
    
    <div class="main-wrapper">
	    
	    <article class="blog-post px-3 py-5 p-md-5">
		    <div class="container">
			    <header class="blog-post-header">
				    <h2 class="title mb-2">{{post.title}}</h2>
				    <div class="meta mb-3"><span class="date">By: {{post.author.first_name}} {{post.author.last_name}}</span><span class="time">Published On: {{post.created_at}}</span></div>
					{% if user.is_authenticated %}
						{% if post.author.id == user.id %}
						<span class="more-link"><a href="{% url 'editpost' post.pk %}">Edit</a></span> <span class="more-link"><a href="{% url 'deletepost' post.pk %}">Delete</a></span>
						<br/><br/>
						{% endif %}
					{% endif %}
			    </header>
				
			    
			    <div class="blog-post-body">
				    <figure class="blog-banner">
				        <img class="img-fluid" style="width: 750px; height: 350px; object-fit: cover;" src="{{post.image.url}}" alt="image">
				        <figcaption class="mt-2 text-center image-caption"><a href="" target="_blank"></a></figcaption>
				    </figure>
				    <p>{{post.body|safe}}</p>
				    
                </div>
            </div>
        </article>
    </div>  
	    
{% endblock %}